@font-face {
    font-family: Nasa;
    src: url(../assets/nasalization/nasalization-rg.otf);
}

body{
    background-color: black !important;
    color: white !important;
    margin: 0;
}

html{
    margin: 0;
}

h1{
    font-family: Nasa !important;
}

button{
    width: 10em;
    height: 2em;
    background-color: white;
    border-radius: 5px !important;
    border-color: white;
    font-family: Nasa !important;
    font-size: 16px;
    color: black !important;
}

#head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo {
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

button:hover{
    background-color: black;
    color: white !important;
}

.img {
    object-fit: cover;
}

@media (min-width: 300px) and (max-width: 1024px) {
    .img {
        z-index: -2;
        position: absolute;
        top: 0;
        height: 50em;
        width: 100%;
    }

    #head{
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 50em;
    }
}

@media (min-width: 1025px) {
    body{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100vh;
        grid-template-areas: "imagens info";
    }

    .gradiente{
        background-image: linear-gradient(10deg, black 0%, black 100%);
        -webkit-mask-image: linear-gradient(to left, transparent 2%, black 40%);
    }

    .img {
        height: 100%;
        width: auto;
    }
}